body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  margin: 0;

}
.clearfix:before,
.clearfix:after {
 content: "";
 display: table;
}

.clearfix:after {
  clear: both;
}

.main-poster {
  background-image: url('../img/main-poster.jpg');
  background-size: cover;
  background-color: #81b3d1;
  height: 510px;
  width: 100%;
  text-align: center;
  padding-top: 74px;
  box-sizing: border-box;
  position: relative;
}

.main-poster::after {
  content: '';
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('../img/shape.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, .3);
  -moz-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, .3);
  box-shadow: 0 10px 30px 0 rgba(50, 50, 50, .3), 0 -10px 30px 0 #ffffff;
}

.menu {
  min-height: 56px;
  font-size: 0;
}

.menu a {
  display: inline-block;
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.menu .menu-logo {
  position: relative;
  z-index: 50;
  height: 56px;
  padding: 0;
}

.menu a:hover {
  color: #81b3d2;
}

.menu a:active {
  color: #b2b2b2;
  color: rgba(0, 0, 0, .3);
}

.menu .menu-active {
  color: #766357;
}

.menu .menu-active:hover {
  color: #5f4d43;
}

/*END NAVIGATION*/
/*INTRO*/

.intro {
  margin: 0 auto;
  max-width: 500px;
  padding-top: 60px;
  padding-bottom:  50px;
  text-align: center;
}

.intro h1 {
  margin:0 auto;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 28px;
}
.intro p {
  color: #000000;
  margin:0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

/*END INTRO*/
.advantage-main {
  background-size: contain;
  background-image: url('../img/advantage-img-1.jpg');
  background-position: 100% 0%;
  background-color: #81b3d2;
}

.advantage-text-wrapper {
  width: 33.3333%;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  background-color: #81b3d2;
  color: #ffffff;
  height: 100%;
}

.advantage-main2 {
  background-size: contain;
  background-image: url('../img/advantage-img-2.jpg');
  background-position: 0% 100%;
  background-color: #81b3d2;
}
.advantage-text-wrapper2 {
  width: 33.3333333%;
  padding: 50px;
  float:right;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  background-color: #81b3d2;
  color: #ffffff;
  height: 100%;
  font-size: 14px;
}

.advantage-heading {
  margin: 0 auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  max-width: 151px;
}

.advantage-main-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 auto 20px;
}

.advantage-main-text2 {
  padding: 0px 11%;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 auto 20px;
}

.additional-advantage {
	position: relative;
	width: 33.333333%;
	float: left;
	padding: 160px 6% 70px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.additional-advantage:nth-child(2) {
	padding: 160px 4% 70px;
}

.additional-advantage .advantage-heading::before {
	position: absolute;
	top: 55px;
	left: 50%;
	z-index: 3;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	content: "";
	display: block;
	height: 76px;
	width: 75px;
	margin: 0 auto;
}

.additional-advantage:nth-child(1) .advantage-heading::before {
	background: url("../img/sprites2.png") no-repeat;
	background-position: -104px -10px;
}

.additional-advantage:nth-child(2) .advantage-heading::before {
	background: url("../img/sprites2.png") no-repeat;
	background-position: -10px -10px;
}

.additional-advantage:nth-child(3) .advantage-heading::before {
	background: url("../img/sprites2.png") no-repeat;
	background-position: -199px -10px;
}

.additional-advantages-grey {
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 0;

}

.additional-advantage-grey {
  display: inline-block;
  width: 33%;
  text-align: center;
  box-sizing: border-box;
  vertical-align: top;
}

.advantage-number {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 12px;
}

.advantage-number::after {
  content: ' —';
}

.advantage-number::before {
  content: '— ';
}

.advantages-text{
  margin: 0 auto;
  padding: 8px 16%;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.booking-title {
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 55px;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
}

.booking-info {
  text-align: center;
  max-width: 500px;
  margin-right: auto;
  margin-bottom: 45px;
  margin-left: auto;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.booking-block {
  position: relative;
  width: 570px;
  margin-right: auto;
  margin-left: auto;
}

.booking-btn {
  display: block;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 31px;
  text-align: center;
  text-decoration: none;
  background-color: #766357;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.booking-btn:active {
  color: #9f928a;
  color: rgba(255, 255, 255, .3);
}

.booking-form {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  display: block;
  width: 460px;
  padding: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 38px 95px -21px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 38px 95px -21px rgba(0, 0, 0, .75);
  box-shadow: 0 38px 95px -21px rgba(0, 0, 0, .75);
  font-size: 0;
}

.booking-form-row {
  margin-bottom: 27px;
  font-size: 0;
}

.booking-form-row label {
  display: inline-block;
  width: 110px;
  text-align: left;
  vertical-align: middle;
}

.booking-form-row input {
  position: relative;
  display: inline-block;
  width: 301px;
  padding: 5px 30px 5px 15px;
  vertical-align: middle;
  border-style: none;
  background-color: #f2f2f2;
}

.booking-form input:hover {
  background-color: #ebebeb;
}

.booking-form input:focus {
  outline: none;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
  -moz-box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
  box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
}

.booking-form-col {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  vertical-align: top;
  font-size: 0;
}

.booking-form-col label {
  text-align: center;
}

.booking-form-col:first-child label {
  text-align: left;
}
.booking-form-label,
.booking-form-label + input {
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.booking-form-dates {
  margin-bottom: 32px;
}

.booking-form-dates input:after {
  position: absolute;
  width: 21px;
  height: 23px;
  content: "";
  background: -92px -10px no-repeat url(../img/sprites.png);
}

.booking-form-dates input:hover:after {
  background: -10px -10px no-repeat url(../img/sprites.png);
}

.booking-form-dates input:focus:after {
  background: -51px -10px no-repeat url(../img/sprites.png);
}

.booking-form-dates + .booking-form-row {
  margin-bottom: 55px;
}

.booking-form-col input {
  width: 32px;
  padding-right: 41px;
  padding-left: 41px;
  text-align: center;
}

.booking-controls-plus,
.booking-controls-minus {
  position: relative;
  cursor: pointer;
}

.booking-controls-minus:before {
  position: absolute;
  top: -1.5px;
  left: -100px;
  width: 11px;
  height: 11px;
  content: "";
  background: -284px -69px no-repeat url(../img/sprites.png);
}

.booking-controls-minus:hover:before,
input:hover ~ .booking-controls-subtract:before {
  background: -252px -69px no-repeat url(../img/sprites.png);
}

.booking-controls-minus:active:before,
input:focus ~ .booking-controls-minus:before {
  background: -189px -69px no-repeat url(../img/sprites.png);
}

.booking-controls-plus:after {
  position: absolute;
  top: -5px;
  right: 10px;
  width: 11px;
  height: 11px;
  content: "";
  background: -189px -100px no-repeat url(../img/sprites.png);
}

.booking-controls-plus:hover:after,
input:hover ~ .booking-controls-plus:after {
  background: -316px -69px no-repeat url(../img/sprites.png);
}

.booking-controls-plus:active:after,
input:focus ~ .booking-controls-plus:after {
  background: -347px -69px no-repeat url(../img/sprites.png);
}

.booking-form-btn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 18px;
  border: none;
  background-color: #81b3d2;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.booking-form-btn:focus {
  outline: none;
}

.booking-form-btn:hover {
  background-color: #669ec0;
}

.booking-form-btn:active {
  background-color: #5496bd;
}

.map {
  position: relative;
  overflow: hidden;
  height: 473px;
}

/*START FILTER*/

.filter {
  padding-top: 29px;
  background: #647e94 no-repeat url('../img/blur.jpg');
  background-size: 100% auto;
}

.filter-housing,
.filter-infrastructure {
  float: left;
  box-sizing: border-box;
  width: 256px;
  padding-left: 9%;
}

.filter-price {
  float: right;
  box-sizing: border-box;
  width: 33%;
  padding-right: 7%;
  text-align: center;
}

.filter-housing input[type="checkbox"],
.filter-infrastructure input[type="checkbox"] {
  display: none;
}

.filter-housing-title,
.filter-infrastructure-title {
  margin:0 auto;
  margin-bottom: 24px;
  margin-left: -38px;
}

.filter-variant {
  position: relative;
  display: block;
  margin-bottom: 27px;
}

input + .filter-variant:before {
  position: absolute;
  top: 0;
  left: -40px;
  width: 22px;
  height: 22px;
  content: "";
  background: -179px -10px no-repeat url(../img/sprites.png);
}

input:checked + .filter-variant:before {
  position: absolute;
  top: 0;
  left: -40px;
  width: 26px;
  height: 22px;
  background: -179px -10px no-repeat url(../img/sprites.png);
}

input + .filter-variant:hover:before {
  background: -179px -10px no-repeat url(../img/sprites.png);
}

input:checked + .filter-variant:hover:before {
  background: -133px -10px no-repeat url(../img/sprites.png);
}

input:disabled + .filter-variant:before {
  background: -10px -52px no-repeat url(../img/sprites.png);
}

input:checked:disabled + .filter-variant:before {
  background: -52px -52px no-repeat url(../img/sprites.png);
}

input:checked + .filter-variant:before {
  background: -133px -10px no-repeat url(../img/sprites.png);
}

.filter-price-title {
  text-align: left;
  margin: 0 auto;
  padding-bottom: 14px;
}

.filter-price-boundaries {
  margin-bottom: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 0;
}

.filter-price-boundaries input {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  vertical-align: top;
  border: none;
  background-color: transparent;
}

.filter-price-boundaries input:nth-child(2n+1) {
  border-right: 2px solid #ffffff;
}

.filter-price-boundaries input:focus {
  outline: none;
}

.filter-price-scale {
  position: relative;
  min-height: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.filter-price-scale .scale {
    height: 2px;
    background-color: #988683;
}

.filter-price-scale .bar {
    width: 70%;
    height: 2px;
    background-color: #fff;
}

.filter-price-scale .toggle {
    box-sizing: content-box;
    position: absolute;
    top: -9px;
    left: 0;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background-color: #ababab;
    border-radius: 50%;
    cursor: pointer;
}

.filter-price-scale .toggle:hover {
    background-color: #1c4f80;
}

.filter-price-scale .max-toggle {
    left: 70%;
}

.filter-max-toggle {
  right: 15%;
}

.filter-btn {
  width: 136px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

.filter-btn:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #ffffff;
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px
}
.filter-btn:focus {
  outline: none;
}
.filter-price-title,
.filter-housing-title,
.filter-infrastructure-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter-btn,
.filter-variant,
.filter-price-controll,
.filter-price-boundaries input {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

/*END FITLERS*/
/*START OPTIONS*/
.options {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #e5e5e5;
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.options-left-column {
  float: left;
  box-sizing: border-box;
  width: 625px;
  padding-left: 6%;
  font-size: 0;
}

.options-left-column a,
.options-left-column span {
  display: inline-block;
  vertical-align: top;
}

.options-about,
.options-left-column a {
  padding-top: 6px;
}

.options .options-found {
  margin-right: 49px;
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

}

.options-about {
  margin-right: 40px;
}

.options span,
.options-variant {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.options-variant {
  color: rgba(0, 0, 0, .3);
  border-bottom: 1px dotted #81b3d2;
}

.options-active {
  color: #81b3d2;
  border-bottom-color: transparent;
}

.options-variant:hover {
  color: #81b3d2;
}

.options-variant:active {
  color: #000000;
  border-bottom-color: transparent;
}

.options-left-column a {
  margin-right: 33px;
}

.options-right-column {
  float: right;

  width: 70px;
  margin-right: 6%;
  text-align: right;
  font-size: 0;
}

.options-right-column a {
  display: inline-block;
  width: 11px;
  height: 11px;
  vertical-align: top;
}

.options-down-arrow {
  position: relative;
  margin-left: 12px;
}

.options-up-arrow:before,
.options-down-arrow:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  border-width: 10px 5px 0;
  border-style: solid;
  border-color: #e5e5e5 transparent transparent;
}

.options-up-arrow {
  position: relative;
}

.options-up-arrow:before {
  border-width: 0 5px 10px;
  border-color: transparent transparent #e5e5e5;
}

.options-up-arrow:hover:before {
  border-color: transparent transparent #000000;
}

.options-down-arrow:hover:before {
  border-color: #000000 transparent transparent;
}

.options-up-arrow:active:before {
  border-color: transparent transparent #81b3d2;
}

.options-down-arrow:active:before {
  border-color: #81b3d2 transparent transparent;
}

.options-up-arrow.options-active:before {
  border-color: transparent transparent #81b3d2;
}

.options-down-arrow.options-active:before {
  border-color: #81b3d2 transparent transparent;
}
/*END OPTIONS*/

/*START RESULT*/

.result-infoblock-title {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 15px;
}

.result-infoblock-title:hover {
  color: #81b3d2;
}

.result-infoblock-title:active {
  color: rgba(0, 0, 0, .3);
}

.result-about-price,
.result-housing-type{
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.result-booking-btn,
.result-housing-more {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.result-booking-btn:active,
.result-housing-more:active {
  color: rgba(255, 255, 255, .3);
}

.result-mark-info {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.result-housing {
  padding-top: 27px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.result-housing-left {
  float: left;
  width: 500px;
  padding-left: 6%;
  font-size: 0;
}

.result-housing-img,
.result-housing-infoblock {
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
  max-width: 500px;
}

.result-housing-img {
  width: 135px;
  min-height: 90px;
  margin-right: 31px;
}

.result-housing-infoblock {
  max-width: 500px;
}

.result-about-housing {
  float: left;
  width: 110px;
}

.result-about-price,
.result-housing-type {
  margin-bottom: 11px;
}

.result-about-booking {
  float: right;
  width: 142px;
}

.result-housing-ratings {
  float: right;
  box-sizing: border-box;
  width: 190px;
  padding-right: 5%;
}

.result-housing-more {
  display: block;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #81b3d2;
}

.result-housing-more:hover {
  background-color: #669ec0;
}

.result-housing-more:active {
  background-color: #5496bd;
}

.result-booking-btn {
  display: block;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #766357;
}

.result-booking-btn:hover {
  background-color: #604e43;
}

.result-booking-btn:active {
  background-color: #503e33;
}
.result-ratings-stars {
  margin:0 auto;
  width: 114px;
  min-height: 17px;
  margin-bottom: 49px;
}

.result-ratings-3star {
  background: -94px -143px no-repeat url(../img/sprites.png);
}

.result-ratings-2star {
  background: -70px -143px no-repeat url(../img/sprites.png);
}

.result-ratings-4star {
  background: -119px -143px no-repeat url(../img/sprites.png);
}
.result-mark-info {
  width: 110px;
  padding-top: 3px;
  padding-bottom: 4px;
  margin:0 auto;
  text-align: center;
  background-color: #f2f2f2;
}
/*END RESULT*/

/*FOOTER*/
footer {
  font-size: 0;
}
.social-icon {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 5px;
  vertical-align: top;
  background-color: #81b3d2;
}

.social-icon:hover {
  position: relative;
  background-color: #669ec0;
}

.social-icon:active {
  position: relative;
  background-color: #5496bd;
}

.social-icon:before {
  position: absolute;
  width: 22px;
  height: 20px;
  content: "";
}
.footer-social,
.footer-hashtag,
.footer-copyright {
  display: inline-block;
  box-sizing: border-box;
  width: 33.33%;
  min-height: 90px;
  text-align: center;
  vertical-align: top;
}

.footer-hashtag {
  padding-top: 50px;
  padding-bottom:45px;
}

.footer-hashtag a{
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.footer-social {
  padding-top: 36px;
  font-size: 0;
}
.social-icon {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 5px;
  vertical-align: top;
  background-color: #81b3d2;
}

.social-icon:hover {
  position: relative;
  background-color: #669ec0;
}

.social-icon:active {
  position: relative;
  background-color: #5496bd;
}

.social-icon:before {
  position: absolute;
  width: 22px;
  height: 20px;
  content: "";
}
.tw:before {
  top: 16px;
  left: 15px;
  background: -300px -100px no-repeat url(../img/sprites.png);
}

.tw:active:before {
  background: -337px -100px no-repeat url(../img/sprites.png);
}

.fb:before {
  top: 15px;
  left: 17px;
  background: -129px -70px no-repeat url(../img/sprites.png);
}

.fb:active:before {
  background: -159px -70px no-repeat url(../img/sprites.png);
}

.youtube:before {
  top: 17px;
  left: 12px;
  background: -252px -165px no-repeat url(../img/sprites.png);
}

.youtube:active:before {
  background: -292px -165px no-repeat url(../img/sprites.png);
}

.footer-copyright {
  padding-top: 41px;
  font-size: 0;
}
.footer-copyright a,
.footer-copyright span {
  display: inline-block;
  vertical-align: middle;
}
.copyright-intro {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.copyright-htmlacademy {
  width: 113px;
  height: 39px;
  margin-left: 5px;
  background: -10px -109px no-repeat url(../img/sprites.png);
}

.copyright-htmlacademy:hover {
  background: -10px -168px no-repeat url(../img/sprites.png);
}

.copyright-htmlacademy:active {
  background: -252px -10px no-repeat url(../img/sprites.png);
}
/*END FOOTER*/
