body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #dfdfdf;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.main-poster {
  background-image: url('../img/main-poster.jpg');
  background-size: cover;
  background-color: #493e35;
  height: 510px;
  width: 100%;
  text-align: center;
  padding-top: 74px;
  box-sizing: border-box;
  position: relative;
  outline: 3px dashed #4fa2ff;
}

.main-poster::after {
  content: '';
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('../img/shape.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
  outline: 3px dashed #4fa2ff;
}

li {
  list-style-type: none;

}

.menu {
  min-height: 56px;
  font-size: 0;


}

.menu a {
  display: inline-block;

  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
  vertical-align: top;
  outline: 3px dashed #21ff64;
}

.menu .menu-logo {
  position: relative;
  z-index: 50;

  height: 56px;
  padding: 0;
  outline: 3px dashed #21ff64;
}
.menu a {
  text-decoration: none;
  text-transform: uppercase;

  color: #000000;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.menu a:hover {
  color: #81b3d2;
}

.menu a:active {
  color: #b2b2b2;
  color: rgba(0, 0, 0, .3);
}

.menu .menu-active {
  color: #766357;
}

.menu .menu-active:hover {
  color: #604e43;
}

.menu .menu-active:active {
  color: #d6d0cc;
  color: rgba(118, 99, 87, .3);
}

/*END NAVIGATION*/
/*INTRO*/

.intro {
  margin: 60px auto 50px;
  max-width: 500px;
  text-align: center;
  
}

.intro h1 {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.intro p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

/*END INTRO*/
.advantage-main {
  height: 256px;
  font-size: 0;
  background-image: url('../');
  background-position: 100% 0%;
  background-color: #81b3d2;
  outline: 3px dashed #4fa2ff;
}
.advantage-text-wrapper {
  display: inline-block;
  width: 33.3333333%;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  background-color: #81b3d2;
  color: white;
  height: 100%;
  font-size: 14px;
  outline: 3px dashed #21ff64;

}

.advantage-main2 {
  height: 256px;
  font-size: 0;
  background-image: url('../');
  background-position: 0% 100%;
  background-color: #81b3d2;
  outline: 3px dashed #4fa2ff;
}
.advantage-text-wrapper2 {
  display: inline-block;
  width: 33.3333333%;
  padding: 50px;
  float:right;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  background-color: #81b3d2;
  color: white;
  height: 100%;
  font-size: 14px;
  outline: 3px dashed #21ff64;
}
.advantage-heading {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  max-width: 151px;
  margin: 0 auto 20px;
}
.advantage-main-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 auto 20px;
}
.advantage-main-text2 {
  padding: 0px 11%;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 auto 20px;
}
.advantage-number {
  margin-bottom: 20px;
}

.advantage-number::after {
  content: ' —';
}

.advantage-number::before {
  content: '— ';
}
.additional-advantage {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  padding: 50px 30px 80px 30px;
  box-sizing: border-box;
  text-align: center;
  outline: 3px dashed #21ff64;
}
.additional-advantage-icon {
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  outline: 3px dashed #21ff64;
}

.additional-advantage-icon.house {
  background-image: url('../img/house.png');
}

.additional-advantage-icon.food {
  background-image: url('../img/food.png');
}

.additional-advantage-icon.souvenir {
  background-image: url('../img/souvenir.png');
}

.additional-advantages-grey {
  background-color: #eeeeee;
  margin-bottom: 60px;
}

.additional-advantage-grey {
  display: inline-block;
  width: 33%;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  vertical-align: top;
  outline: 3px dashed #21ff64;
}
.advantages-text{
  padding: 0px 5%;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 auto 20px;

}

.booking-title {
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;


}

.booking-info {
  text-align: center;
  width: 500px;
  margin-right: auto;
  margin-bottom: 45px;
  margin-left: auto;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

}
.booking-block {
  position: relative;

  width: 570px;
  margin-right: auto;
  margin-left: auto;
  outline: 3px dashed #21ff64;
}

.booking-btn {
  display: block;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 31px;
  text-align: center;
  text-decoration: none;
  background-color: #766357;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.booking-btn:active {
  color: #9f928a;
  color: rgba(255, 255, 255, .3);
}

.booking-form {
  position: absolute;
  z-index: 100;
  top: 89px;
  left: 0;

  display: block;

  width: 460px;
  padding: 55px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 38px 95px -21px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 38px 95px -21px rgba(0, 0, 0, .75);
  box-shadow: 0 38px 95px -21px rgba(0, 0, 0, .75);

  font-size: 0;
  outline: 3px dashed #21ff64;
}
.booking-form-row {
  margin-bottom: 27px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 0;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.booking-form-row label {
  display: inline-block;

  width: 110px;

  text-align: left;
  vertical-align: middle;
}

.booking-form-row input {
  position: relative;

  display: inline-block;

  width: 301px;
  padding: 5px 30px 5px 15px;

  vertical-align: middle;

  border-style: none;
  background-color: #f2f2f2;
}

.booking-form input:hover {
  background-color: #ebebeb;
}

.booking-form input:focus {
  outline: none;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
  -moz-box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
  box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
}

.booking-form-col {
  display: inline-block;

  box-sizing: border-box;
  width: 50%;

  vertical-align: top;

  font-size: 0;
}

.booking-form-col label {
  text-align: center;
}

.booking-form-col:first-child label {
  text-align: left;
}
.booking-form-label,
.booking-form-label + input {
  text-decoration: none;
  text-transform: uppercase;

  color: #000000;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}
.booking-form-dates {
  margin-bottom: 32px;
}

.booking-form-dates input:after {
  position: absolute;

  width: 21px;
  height: 23px;

  content: "";

  background: -92px -10px no-repeat url(../img/sprites.png);
}

.booking-form-dates input:hover:after {
  background: -10px -10px no-repeat url(../img/sprites.png);
}

.booking-form-dates input:focus:after {
  background: -51px -10px no-repeat url(../img/sprites.png);
}

.booking-form-dates + .booking-form-row {
  margin-bottom: 55px;
}

.booking-form-col input {
  width: 32px;
  padding-right: 41px;
  padding-left: 41px;

  text-align: center;
}

.booking-controls-plus,
.booking-controls-minus {
  position: relative;

  cursor: pointer;
}

.booking-controls-minus:before {
  position: absolute;
  top: -1.5px;
  left: -100px;

  width: 11px;
  height: 0;
  height: 11px;

  content: "";

  background: -284px -69px no-repeat url(../img/sprites.png);
}

.booking-controls-minus:hover:before,
input:hover ~ .booking-controls-subtract:before {
  background: -252px -69px no-repeat url(../img/sprites.png);
}

.booking-controls-minus:active:before,
input:focus ~ .booking-controls-minus:before {
  background: -189px -69px no-repeat url(../img/sprites.png);
}

.booking-controls-plus:after {
  position: absolute;
  top: -5px;
  right: 10px;

  width: 11px;
  height: 0;
  height: 11px;

  content: "";

  background: -189px -100px no-repeat url(../img/sprites.png);
}

.booking-controls-plus:hover:after,
input:hover ~ .booking-controls-plus:after {
  background: -316px -69px no-repeat url(../img/sprites.png);
}


.booking-controls-plus:active:after,
input:focus ~ .booking-controls-plus:after {
  background: -347px -69px no-repeat url(../img/sprites.png);
}

.booking-form-btn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 18px;
  border: none;
  background-color: #81b3d2;
}
.booking-form-btn{
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px
}

.booking-form-btn:focus {
  outline: none;
}

.booking-form-btn:hover {
  background-color: #669ec0;
}

.booking-form-btn:active {
  background-color: #5496bd;
}

.map {
  position: relative;

  overflow: hidden;

  height: 473px;
  outline: 3px dashed #21ff64;
}


.hotels-filters {
  background-image: url('../img/blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #493e35;
  width: 100%;
}
/*FOOTER*/
footer {
  font-size: 0;
}
.social-icon {
  position: relative;

  display: inline-block;

  width: 46px;
  height: 48px;
  margin-right: 5px;

  vertical-align: top;

  background-color: #81b3d2;
}

.social-icon:hover {
  position: relative;

  background-color: #669ec0;
}

.social-icon:active {
  position: relative;

  background-color: #5496bd;
}

.social-icon:before {
  position: absolute;

  width: 22px;
  height: 20px;

  content: "";
}
.footer-social,
.footer-hashtag,
.footer-copyright {
  display: inline-block;

  box-sizing: border-box;
  width: 33.33%;
  min-height: 90px;

  text-align: center;
  vertical-align: top;
  outline: 3px dashed #21ff64;
}

.footer-hashtag {
  padding-top: 50px;
  padding-bottom:45px;
}
.footer-hashtag a{
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.footer-social {
  padding-top: 36px;

  font-size: 0;
}
.social-icon {
  position: relative;

  display: inline-block;

  width: 46px;
  height: 48px;
  margin-right: 5px;

  vertical-align: top;

  background-color: #81b3d2;
}

.social-icon:hover {
  position: relative;

  background-color: #669ec0;
}

.social-icon:active {
  position: relative;

  background-color: #5496bd;
}

.social-icon:before {
  position: absolute;

  width: 22px;
  height: 20px;

  content: "";
}
.tw:before {
  top: 16px;
  left: 15px;

  background: -300px -100px no-repeat url(../img/sprites.png);
}

.tw:active:before {
  background: -337px -100px no-repeat url(../img/sprites.png);
}

.fb:before {
  top: 15px;
  left: 17px;

  background: -129px -70px no-repeat url(../img/sprites.png);
}

.fb:active:before {
  background: -159px -70px no-repeat url(../img/sprites.png);
}

.youtube:before {
  top: 17px;
  left: 12px;

  background: -252px -165px no-repeat url(../img/sprites.png);
}

.youtube:active:before {
  background: -292px -165px no-repeat url(../img/sprites.png);
}

.footer-copyright {
  padding-top: 41px;

  font-size: 0;
}
.footer-copyright a,
.footer-copyright span {
  display: inline-block;
  vertical-align: middle;
}
.copyright-intro {
  color: #000000;

  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.copyright-htmlacademy {
  width: 113px;
  height: 39px;
  margin-left: 5px;

  background: -10px -109px no-repeat url(../img/sprites.png);
}

.copyright-htmlacademy:hover {
  background: -10px -168px no-repeat url(../img/sprites.png);
}

.copyright-htmlacademy:active {
  background: -252px -10px no-repeat url(../img/sprites.png);
}
/*END FOOTER*/
